<h2>What type of pet your look for?</h2>

<form action="/adoptee/success" method="post">
  <div class="form-group">
    <label for="customer_name">Name</label>
    <input id="customer_name" name="customer_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="phone">Phone (xxx-xxx-xxxx)</label>
    <input id="phone" name="phone" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="animal_preference">Preferred pet (dog, cat, other?)</label>
    <input id="animal_preference" name="animal_preference" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="breed_preference">Pet breed</label>
    <input id="breed_preference" name="breed_preference" class="form-control" type="number">
  </div>

  <button type="submit" class="btn btn-lg">Submit your wish!</button>
  </form>
